<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">open form</button>
    {{ "nilai a =" + a }}
    {{ "rata2 =" + i }}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
       a: 0,
       i: 0
      },
      methods : {
        openform: function () {
          let index = 0
          while (this.a < 10) {
            this.a += parseInt(prompt("masukan nilai a"))
            index++
            
          }
          this.i = this.a / index
        }

      }
  })
  </script>
</body>
</html>