<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style></style>
  </head>
  <body>
    <div id="app" class="container">
      <div v-if="!isEditing">
        <input type="text" v-model="name" />
        <input type="submit" value="Add" @click="storeName" />
      </div>
      <div v-else>
        <input type="text" v-model="name" />
        <input type="submit" value="Update" @click="updateName" />
      </div>

      <ul>
        <li v-for="(name, index) in names">
          {{ name }}
          <button @click="editName(index, name)">Edit</button>
          <button @click="removeName(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",

        data: {
          isEditing: false,
          name: "",
          names: ['Muhammad Iqbal Mubarok'],
          selectedName: null,
        },

        methods: {
          storeName() {
            this.names.push(this.name);
            this.name = "";
          },

          removeName(index) {
            this.names.splice(index, 1);
          },

          updateName() {
            this.names.splice(this.selectedIndex, 1, this.name);
            this.name = "";
            this.isEditing = false;
          },

          editName(index, name) {
            this.isEditing = true;
            this.name = name;
            this.selectedIndex = index;
          },
        },
      });
    </script>
  </body>
</html>